/****--------------全局样式设置--------------***/
html,
body,
#app {
    width: 100%;
    height: 100%;
}
.ui-state-highlight {
    width: 182px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #03a9f4;
    padding: 0 10px;
    border: 1px #03a9f4 dashed !important;
    background-color: #fff !important;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    cursor: all-scroll;
}
.canvas-drag {
    width: 182px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    color: #03a9f4;
    padding: 0 10px;
    border: 1px #03a9f4 dashed !important;
    background-color: #fff !important;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    cursor: all-scroll;
    position: absolute;
}
.el-input__inner {
    height: 32px;
    line-height: 32px;
}
